/* Global Styles */
html {
  box-sizing: border-box;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Estándar */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

b {
  font-weight: bold;
}

/* Main App Styles */
body {
  width: 700px;
  margin: 0 auto;
  background-color: #fafafa;
  font-family: "Source Sans Pro", sans-serif;
  color: #111;
}

/* El contenedor principal se define como flex container */
.container {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin: 1% 0 3%;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  outline: none;
  font-size: 1rem;
  resize: none;
  line-height: 1.5rem;
}

textarea:hover {
  border-color: #c0c0c0;
}

textarea:focus {
  border-color: #4d90fe;
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 1.4rem;
  margin: 1% 0;
  padding: 10px;
}

.output > div {
  flex: 1 1 42%; /* Cada hijo ocupa base 42%, se adapta según el espacio disponible */
  padding: 10px 15px;
  margin: 1%;
  box-sizing: border-box;
}

.output span {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Estilos para el "botón" de legibilidad */
#readability {
  flex: 1 1 52%;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

#readability:hover {
  background-color: #4d90fe;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

#readability:active {
  background-color: #307af3;
}

/* Sección de palabras clave */
.keywords {
  display: none; /* Se mostrará mediante JavaScript cuando sea necesario */
  margin: 4% 0 0;
  font-size: 2rem;
  font-weight: 900;
}

.keywords ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  margin: 2% 0;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 1.4rem;
  font-weight: 400;
}

.keywords li {
  flex: 1 1 44%;
  padding: 10px;
  margin: 1%;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  body {
    width: 95%;
  }
  .output {
    flex-direction: column;
    align-items: stretch;
    border: none;
    background-color: #fff;
    padding: 0;
  }
  .output > div {
    flex: 1 1 100%;
    margin: 2% 0;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 1.8rem;
  }
  .output span {
    font-size: 2rem;
  }
  #readability {
    flex: 1 1 100%;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .keywords {
    margin: 10% auto;
  }
  .keywords ul {
    border: none;
    font-size: 1.8rem;
    background-color: #f9f9f9;
    margin: 5% 0;
  }
  .keywords li {
    flex: 1 1 100%;
    margin: 2% auto;
  }
}
